
<div class="review">
    <p class="title">{{ recipient.name }}'s reviews</p>
    <p class="message">{{message}}</p>
    
<a href='/user/{{creator._id}}'>
<div>
    <div class="score">
    <p>Reviewed by {{ creator.name }}</p></a>
    <p>SCORE: {{ score }}</p></div>
</div>

