
<div class="review">
    <p class="title">{{ recipient.name }}'s reviews</p><hr class="hr-review">
    <p class="message">{{message}}</p>
    
<a href='/user/{{creator._id}}'>
<div>
    <div class="score">
        <div class="score-icon"></div>
    <div class="reviewed">Reviewed by {{ creator.name }}</div></a>
    <div class="review-score">SCORE: {{ score }}</div></div>
</div>

