<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
  
    <nav>
      <a class="logo" href="/"></a>
  <div class="nav-bar">
      <a href="/aboutus">About us</a>
      <a href="/faq">FAQ</a>
      <a href="/post/list">Posts</a>
    
      {{#if user}}

     <a href="/user/{{user._id}}">{{user.name}}'s Profile</a> 
        <form class="sign-out-form" action="/authentication/signout" method="POST">
          <button class="sign-out">Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/signin">Sign In</a>
        <a href="/authentication/signup">Sign Up</a>

      {{/if}}
      </div>
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
