<div>
    {{#each posts}}
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <p>{{ startDate }}</p>
    <p>{{ endDate }}</p>

    <p>Are you interested in providing this service?</p>
    <form action="/post/{{_id}}/contactowner" method="POST">
        <button>Contact the Pet Owner</button>
    </form>

    {{/each}}

</div>

