<div>
    {{#each posts}}
        <a href='/user/{{creator._id}}'>{{ creator.name }}</a>
        <h4>{{title}}</h4>
        <p>{{ message }}</p>
        <p>Starting Date: {{date startDate }}</p>
        <p>End Date: {{date endDate }}</p>

        <p>Are you interested in providing this service?</p>
        <form action="/post/{{_id}}/contactowner" method="POST">
            <button>Contact the Pet Owner</button>
        </form>

    {{/each}}

</div>

