
<div class="center container">

<div class="post-content">
    {{#each posts}}
        <a href='/user/{{creator._id}}'>{{ creator.name }}</a>
        <h4>{{title}}</h4>
        <p>{{ message }}</p>
        <p>Starting Date: {{date startDate }}</p>
        <p>End Date: {{date endDate }}</p>

        <p><strong>Are you interested in providing this service?</strong></p>
        <form action="/post/{{_id}}/contactowner" method="POST">
        <div class="align">
            <button class="contact-button">Contact Pet Owner</button>
        </div>
        </form>

    {{/each}}
</div>
</div>

