
<h1>User Profile</h1>
{{#with user}}
<p>Name: {{name}}</p>
<p>Type of user: {{type}}</p>
<p>Mail of contact: {{email}}</p>
<p>Location (city): {{location}}</p>
<a href="/user/edit">Edit your info</a>

<h3>Pet Details</h3>
{{#with pet}}
<ul>
<li>Pet name: {{name}}</li>
<li>Species: {{species}}</li>
<li>{{#if breed}}Breed: {{breed}} {{/if}}</li>
</ul>
{{/with}}
<a href="/pet/{{_id}}/petedit">Edit your pet's info</a>
<p>{{comments}}</p>


{{/with}}
{{#if user.pet}}

{{#each posts}}
<h1>{{title}}</h1>
<p>{{message}}</p>
{{/each}}

{{#each reviews}}
{{>reviewpartial}}
{{/each}}

<!--
    DISPLAY USER'S POST AND REVIEWS
-->
<button type="button" onclick="location.href='/post/postcreate'">Create a Post</button>
{{/if}}

<<<<<<< HEAD
<button type="button" onclick="location.href='/reviewcreate'">Create a Review for this user</button>
=======
<button type="button" onclick="location.href='/review/{{user._id}}/reviewcreate'">Create a Review for this usert</button>
>>>>>>> 9581f6600ad89a111d249b7c1a396f42c1a9fd44
