

<h1>User Profile</h1>
{{#with user}}
<p>Name: {{name}}</p>
<p>Type of user: {{type}}</p>
<p>Mail of contact: {{email}}</p>
<p>Location (city): {{location}}</p>
<a href="/user/edit">Edit your info</a>


<h3>Pet Details</h3>
{{#with pet}}
<ul>
<li>Pet name: {{name}}</li>
<li>Species: {{species}}</li>
{{#if breed}}<li>Breed: {{breed}} {{/if}}</li>
</ul>
{{/with}}
<a href="/pet/{{_id}}/petedit">Edit your pet's info</a>
<p>{{comments}}</p>
{{/with}}


{{#if user.pet}}

{{#each posts}}
<h1>{{title}}</h1>
<p>{{message}}</p>
<p>Are you interested in providing this service?</p>
  <button>Contact the Pet Owner</button>
{{/each}}

{{#each reviews}}
{{>reviewpartial}}
{{/each}}

<!--
    DISPLAY USER'S POST AND REVIEWS
-->
<button type="button" onclick="location.href='/post/postcreate'">Create a Post</button>
{{/if}}

<button type="button" onclick="location.href='/review/{{user._id}}/reviewcreate'">Create a Review for this user</button>
