<div class="center space">
<div class="profile-container">
    <div class="user-profile">
    <p class="profile-title"><strong>User Profile </strong><hr></p>
    <br>
    {{#with user}}
    <div class="user-name-display">
      <span class="user-image">
        <img class="img" src="{{image}}" alt="user's image">
      </span>
      <div class="profile-position">
      <strong><p>Name: </strong>{{name}}</p>
    <strong><p>Type of user:</strong> {{type}}</p>
    <strong><p>Email:</strong><a href="#">{{email}}</a></p>
    <strong><p>Location(city):</strong> {{location}}</p>
    <a class="edit-button" href="/user/edit">Edit your info</a>
    </div>
  </div>
  </div>
    {{#if ../userIsOwner}}
    <div class="pet-profile">
    <p class="profile-title"><strong>Pet Details </strong><hr></p>
    <br>

    {{#with pet}}
    <div class="profile-position">
    <ul>
    <li><strong>Pet name: </strong>{{name}}</li>
    <li><strong>Species:</strong> {{species}}</li>
    {{#if breed}}<li><strong>Breed: </strong>{{breed}} {{/if}}</li>
    </ul>
    {{/with}}
    </div>
    <div class="pet-info">
    <a class="edit-button pet" href="/pet/{{_id}}/petedit">Edit your pet's info</a>
    </div>
    </div>
    <p>{{comments}}</p>
    {{/if}}
    {{/with}}


</div>
{{#if userIsOwner}}
<div class="post">
   
{{#if user.pet}}


{{#each posts}}
<a href='/post/{{_id}}' class="title">{{title}}</a>
<p class="message">{{message}}</p>
<p class="caption">Are you interested in providing this service?</p>
  <button class="button"><p>Send message</p></button>
</div>
{{/each}}
{{/if}}
{{#each reviews}} 
{{>reviewpartial}}
{{/each}}



<!--
    DISPLAY USER'S POST AND REVIEWS
-->
<div class="profile-buttons">

<a href='/post/postcreate'><button class="button click-on">Create a Post</button></a>
{{/if}}

<a href='/review/{{user._id}}/reviewcreate'><button class="button click-on">Review this user</button></a>

</div>

</div>