<div class="center">
<div class="profile-container">
    <div class="user-profile">
<p class="profile-title">User Profile</p>
<br>
{{#with user}}
<div class="user-name-display">
<span class="user-image">
<img class="img" src="{{image}}" alt="user's image">
</span>
<strong><p>Name: </strong>{{name}}</p><br>
</div>
<strong><p>Type of user:</strong> {{type}}</p>
<strong><p>Mail of contact:</strong><a href="#">{{email}}</a></p>
<strong><p>Location (city):</strong> {{location}}</p>
<a class="edit-button" href="/user/edit">Edit your info</a>
</div>

<div class="pet-profile">
<p class="profile-title">Pet Details</p>
<br>
{{#with pet}}
<ul>
<li><strong>Pet name: </strong>{{name}}</li>
<li><strong>Species:</strong> {{species}}</li>
{{#if breed}}<li><strong>Breed: </strong>{{breed}} {{/if}}</li>
</ul>
{{/with}}
<a class="edit-button pet" href="/pet/{{_id}}/petedit">Edit your pet's info</a>
<p>{{comments}}</p>
{{/with}}
</div>
</div>

<div class="post">
   
{{#if user.pet}}


{{#each posts}}
<a href='/post/{{_id}}' class="title">{{title}}</a>
<p class="message">{{message}}</p>
<p class="caption">Are you interested in providing this service?</p>
  <button class="button"><p>Send message</p></button>
</div>
{{/each}}

{{#each reviews}}
{{>reviewpartial}}
{{/each}}



<!--
    DISPLAY USER'S POST AND REVIEWS
-->
<div class="profile-buttons">

<a href='/post/postcreate'><button class="button click-on">Create a Post</button></a>
{{/if}}

<a href='/review/{{user._id}}/reviewcreate'><button class="button click-on">Review this user</button></a>

</div>

</div>