{{#with post}}

<div>
    <p>{{ title }}</p>
    <p>{{ message }}</p>
    <p>{{ startDate }}</p>
    <p>{{ endDate }}</p>

    <p>Are you interested in providing this service?</p>
    <form action="/post/{{_id}}/contactowner" method="POST">
        <button>Contact the Pet Owner</button>
    </form>

<form action='/post/{{_id}}/edit' method='POST'>
     <button>Edit post</button>
</form>

<form action='/post/{{_id}}/delete' method='POST'>
     <button>Delete post</button>
</form>
{{/with}}

</div>


