<div class="center ">
{{#with post}}
<div class="post-content">

<div>
    <p>{{ title }}</p>
    <p>{{ message }}</p>
    <p>{{date startDate }}</p>
    <p>{{date endDate }}</p>

    <p><strong>Are you interested in providing this service?</strong></p>
    </div>
<div class="single-post-view">
    <form class="single-form" action="/post/{{_id}}/contactowner" method="POST">
        <button class="contact-button single">Contact Pet Owner</button>
    </form>



<form class="single-form" action='/post/{{_id}}/delete' method='POST'>
     <button class="contact-button single">Delete post</button>
</form>
{{/with}}

</div>
</div>
</div>


