<div>
    <a href=''>{{ title }}</a>
    <p>{{ message }}</p>
    <p>{{ startDate }}</p>
    <p>{{ endDate }}</p>

    <p>Are you interested in providing this service?</p>
    <form action="/post/{{_id}}/contactowner" method="POST">
        <button>Contact the Pet Owner</button>
    </form>

<form action=''>
     <button>Edit post</button>
</form>

<form action=''>
     <button>Delete post</button>
</form>


</div>


